/* Animación suave para la transición de opacidad en el banner */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

/* Asegurar que las imágenes del banner no se deformen en responsive */
.banner-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}